<html>
    <head>
        <title>Paul's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Paul's Django Blog</a></h1>
        </div>

        <div>
            <p>published: 23.09.2015, 17:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis suscipit scelerisque. Aliquam feugiat nibh at urna maximus, nec interdum ipsum vulputate. Etiam elementum, risus in laoreet molestie, tortor purus tincidunt orci, sit amet venenatis est mauris vitae tellus. Nunc efficitur diam nisl, nec posuere erat ornare ac. Praesent aliquam vel sem ut finibus. Aenean a leo arcu. Nullam sodales pretium quam ac tincidunt. Aenean consequat imperdiet enim, nec luctus metus porta sed. Aenean odio mi, volutpat quis mauris et, convallis eleifend eros. Ut pulvinar convallis velit vel tempor.</p>
        </div>

        <div>
            <p>published: 23.09.2015, 17:16</p>
            <h2><a href="">My second post</a></h2>
            <p>Suspendisse finibus lorem at eros gravida congue. Proin commodo justo felis. Nulla id est maximus, pharetra ex a, suscipit dui. Nam lacus ante, convallis quis augue ac, condimentum imperdiet dui. In vehicula quam ligula, vel dapibus augue elementum in. Maecenas tempus, magna sit amet malesuada ullamcorper, augue ante blandit diam, et laoreet nisl mauris eu sapien. Sed venenatis dui vitae orci cursus, et bibendum lectus posuere. Integer dictum tellus in neque malesuada, quis dignissim nisi aliquet. Maecenas aliquet malesuada odio vel placerat. Fusce nec sollicitudin elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sagittis, velit vitae mattis tristique, nulla ipsum luctus dui, eget malesuada leo mi eu lorem.</p>
        </div>
    </body>
</html>
